ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.listContainer {
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#navChange {
    cursor: pointer;
}

section input[type=text],
section select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

section input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section input[type=submit]:hover {
    background-color: #45a049;
}

section div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

article {
    font-family: 'Karla', sans-serif;
}

article button {
    background-color: #035aa6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

article .wrapper {
    max-width: 500px;
}

article div {
    border-radius: 5px;
}

.small {
    border: 5px solid grey;
    border-radius: 10px;
    color: green;
    text-align: center;
}

.middle {
    border: 20px solid grey;
    border-radius: 10px;
    color: green;
    text-align: center;
}

.big {
    border: 20px solid green;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: italic;
    width: 60vw;
    text-align: center;
    border-radius: 10px;
}

aside {
    height: 50vh;
    width: 50vw;
    margin: 0 25vw;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}